
# Servidor y Framework Base
fastapi
uvicorn[standard]
gunicorn

# Base de Datos y ORM
sqlalchemy
psycopg2-binary  # Asumiendo que usas PostgreSQL (común en Dokploy)

# Seguridad y Autenticación
firebase-admin
python-jose[cryptography]
python-multipart
passlib[bcrypt]

# Manejo de Entorno y Utilidades
python-dotenv
pydantic[email]
pytz

# Manejo de red (si haces peticiones externas en integra.py)
httpx

google-cloud-firestore